/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


body {
    font-family: "Poppins", sans-serif;
    background: #FFE4B5;
    color: #fff;
}

a {
    color: black;
}

a:hover {
    color: orangered;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #FFE4B5;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #FFE4B5;
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 700ms linear infinite;
    animation: animate-preloader 700ms linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 995;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: orangered;
    transition: all 0.4s;
    border: 2px solid orangered;
}

.back-to-top i:hover {
    background: orangered;
    color: black;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info {
    color: white;
}

#topbar .contact-info i {
    color: #d9ba85;
    padding-right: 4px;
}

#topbar .contact-info i + i {
    margin-left: 15px;
}

#topbar .languages ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cda45e;
}

#topbar .languages ul a {
    color: white;
}

#topbar .languages ul li + li {
    padding-left: 10px;
}

#topbar .languages ul li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    content: "/";
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
}

#header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
}

#header .logo {
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}

#header .logo a {
    color: #FFE4B5;
}

#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul {
    display: flex;
    align-items: center;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding-left: 28px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #FFE4B5;
    transition: 0.3s;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: whitesmoke;
}

.nav-menu .book-a-table a {
    border: 2px solid #cda45e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
    background: #cda45e;
    color: #fff;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #1a1814;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #cda45e;
}

.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #1a1814;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav .mobile-nav-close {
    margin: 0 15px 0 auto;
    display: block;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
}

.mobile-nav .mobile-nav-close:hover {
    color: #fff;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    transition: 0.3s;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #cda45e;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}

.mobile-nav .book-a-table a {
    color: #fff;
    border: 2px solid #cda45e;
    border-radius: 50px;
    margin: 20px 0 0 0;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
}

.mobile-nav .book-a-table a:hover {
    background: #cda45e;
    color: #fff;
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #1a1814;
}

.section-title {
    padding-bottom: 40px;
    margin-bottom: 0;
}

.section-title h2 {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    font-family: "Poppins", sans-serif;
    text-decoration: underline;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: black;
}


/*--------------------------------------------------------------
# Places
--------------------------------------------------------------*/
.bigbox {
    box-shadow: 5px 5px 10px 5px rgba(80, 0, 0, 0.15);
    border-radius: 50px;
    padding: 20px 20px 20px 20px;

}

.places {
    overflow: hidden;
    background: #FFE4B5;
    margin-top: 10vh;

}

.places .nav-tabs {
    border: 0;
}

.places .nav-link {
    border: 0;
    border-radius: 30px;
    padding: 12px 15px;
    transition: 0.3s;
    color: black;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    word-wrap: anywhere;
    margin-bottom: 5px;


}


.places .nav-link:hover {
    color: #FFE4B5;
    background-color: orangered;
}

.places .nav-link.active {
    color: #FFE4B5;
    background: orangered;
    border-color: orangered;
}

.places .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.places .details h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    color: black;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    word-wrap: anywhere;


}

.places .details p {
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    word-wrap: anywhere;
}

.places .details p:last-child {
    margin-bottom: 0;
}


@media (max-width: 992px) {
    .places .nav-link {
        border: 0;
        padding: 15px;

    }
}


/*SEARCHBAR #################################*/


.s130 input, button {
    font-family: 'Playfair Display', sans-serif;
}


.s130 {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: bottom right;
    background-size: 100%;
    padding: 15px;

}

.s130 form {
    width: 100%;
    max-width: 790px;
}

.s130 form .inner-form {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 5px 5px 15px 5px rgba(80, 0, 0, 0.15);
    border-radius: 34px;
    overflow: hidden;
    margin-bottom: 30px;
}

.s130 form .inner-form .input-field {
    height: 68px;


}

.s130 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}

.s130 form .inner-form .input-field input.placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px;
}

.s130 form .inner-form .input-field input:hover, .s130 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #FFE4B5;
}

.s130 form .inner-form .input-field.first-wrap input {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.s130 form .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #222;
}

.s130 form .inner-form .input-field.second-wrap {
    min-width: 216px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: black;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #FFE4B5;
    transition: all .2s ease-out, color .2s ease-out;
    font-weight: 300;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:hover {
    background: orangered;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.s130 form .info {
    font-size: 15px;
    color: rgba(41, 32, 9, 0.6);
    padding-left: 26px;
}

@media screen and (max-width: 992px) {
    .s130 form .inner-form .input-field {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .s130 form .inner-form .input-field.first-wrap .svg-wrapper {
        min-width: 40px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
    }

    .s130 form .inner-form .input-field.first-wrap svg {
        width: 26px;
        height: 26px;
        fill: #222;
    }

    .s130 form .inner-form .input-field.second-wrap {
        min-width: 100px;
    }

    .s130 form .inner-form .input-field.second-wrap .btn-search {
        font-size: 13px;
    }
}

#search::placeholder {
    font-size: 15px;
    color: rgba(41, 32, 9, 0.6);
    content: 'asd';
}

#bootstrap-override {
    font-size: 17px;

}