body {
    background-color: steelblue;
    text-align: center;

}

h1 {
    color: #993333
}

p {
    color: black;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 1px;
    width: 100%;
}